Repository kojiyamauchi/static-my-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, stylelint --fix

deploy: 1daa718dac6fab98f4d03b31d9ca66c3c385b4e2
  assets/css/fourth.min.css
  assets/css/primary.min.css
  assets/css/secondary.min.css
  assets/css/third.min.css
  fourth/index.html
  index.html
  secondary/index.html
  third/index.html
Due: none

update break point.
  resource/styles/components/common/_footer.scss
  resource/styles/components/common/_header.scss
  resource/styles/components/common/_heading.scss
  resource/styles/components/common/_navigation.scss
  resource/styles/constants/_index.scss
  resource/styles/mixins/_index.scss
  resource/styles/utilities/_index.scss
Due: stylelint --fix

fix path.
  resource/styles/mixins/_index.scss
Due: stylelint --fix

deploy: 648e3d0da710bf8c921cacaff22bfa82dd0c69b2
  assets/css/fourth.min.css
  assets/css/primary.min.css
  assets/css/secondary.min.css
  assets/css/third.min.css
  assets/js/core.min.js
  assets/js/global.min.js
  fourth/index.html
  index.html
  secondary/index.html
  third/index.html
Due: prettier --write

update modules.
  package.json
Due: none

ignore updates to gulp-imagemin. see -> gulp-imagemin's issues #356.
  package.json
Due: none

remove fibers.
  package.json
Due: none

update gulpfile.babel.js (around dart sass)
  gulpfile.babel.js
Due: prettier --write

deploy: 6d442030ba3745f4818920c39f9ade9cfc0294b1
  assets/css/fourth.min.css
  assets/css/primary.min.css
  assets/css/secondary.min.css
  assets/css/third.min.css
  fourth/index.html
  index.html
  secondary/index.html
  third/index.html
Due: none

update delivery.yml
  .github/workflows/delivery.yml
Due: none

update github actions.
  .github/workflows/ci-for-preview.yml
  .github/workflows/delivery.yml
  .github/workflows/preview.yml
Due: none

update gulpfile.babel.js
  gulpfile.babel.js
Due: prettier --write

update styles.
  resource/styles/default/_index.scss
Due: stylelint --fix

add @types dir.
  resource/types/@types/.gitkeep
Due: none

deploy: 807121e710d997cfdf0ad82b57f8fbc5a10ac8da
  assets/css/fourth.min.css
  assets/css/primary.min.css
  assets/css/secondary.min.css
  assets/css/third.min.css
  fourth/index.html
  index.html
  secondary/index.html
  third/index.html
Due: none

update node for github actions.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci.yml
  .github/workflows/delivery.yml
  .github/workflows/preview.yml
Due: none

deploy: 6254bbaf8860b3482257d87c4418b4d9dc32e2ba
  assets/css/fourth.min.css
  assets/css/primary.min.css
  assets/css/secondary.min.css
  assets/css/third.min.css
  fourth/index.html
  index.html
  secondary/index.html
  third/index.html
Due: none

update .editorconfig
  .editorconfig
Due: none

update setting.json
  .vscode/settings.json
Due: none

update .eslintrc.yml
  .eslintrc.yml
Due: none

add cspell.yml
  cspell.yml
Due: none

update .lintstagedrc.yml
  .lintstagedrc.yml
Due: none

update github actions.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci.yml
  .github/workflows/delivery.yml
  .github/workflows/preview.yml
Due: none

update package.json
  package.json
Due: none

update README.md
  README.md
Due: none

typo.
  resource/templates/fourth/index.ejs
Due: none

deploy: f7c61f9317d08edabceef26543a97438560bbfd0
  assets/css/fourth.min.css
  assets/css/primary.min.css
  assets/css/secondary.min.css
  assets/css/third.min.css
  assets/js/core.min.js
  assets/js/global.min.js
  fourth/index.html
  index.html
  secondary/index.html
  third/index.html
Due: prettier --write

update tsconfig.json
  tsconfig.json
Due: none

add yarn.lock
  .gitignore
  yarn.lock
Due: none

deploy: 8ca0b8fb6c4320717d2e0f10a0037a7798912e22
  assets/css/fourth.min.css
  assets/css/primary.min.css
  assets/css/secondary.min.css
  assets/css/third.min.css
  fourth/index.html
  index.html
  secondary/index.html
  third/index.html
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.ts) or (any of: ./**/*.{js,jsx})
  eslint --fix --max-warnings 0: any of: ./**/*.ts
  stylelint --fix: any of: resource/**/*.scss
